@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
    font-family: 'Noto Sans KR';
}

@keyframes smokeAnimation {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(30);
      opacity: 0;
    }
  }
